// ===================================================
// Colors
// ===================================================
$color-primary:#fb414e;
$color-secondary:#838383;
$color-bg-dark:#202b30;
$color-bg-light:#f8f8f8;
//=========================== Fonts ==================================
$font-heading: 'Source Sans Pro', sans-serif;
$font-primary:  'Roboto', sans-serif;

// ==================================================================
// media querys
// ==================================================================
$px1200:75em; //1200px
$px1024:64em; //1024px
$px992:62em; //992px
$px768:48em; //1200px
$px575:35.9375em; //575px
$px480:30em; //480px
$px380:23.75em; //380px




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @media only screen and (max-width:$px1200){
        font-size: 55%;
    }
    @media only screen and (max-width:$px1024){
        font-size: 50%;
    }
}

body{
    font-size: 1.6rem;
    font-family: $font-primary;
    line-height: 1.6;
    overflow-x: hidden;
    @media only screen and (max-width:$px575){
        br{
            display: none !important;
        }
    }
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row{
    max-width: 114rem;
    width: 90%;
    margin: 0 auto;
}


.container{
    max-width:150rem;
    width: 95%;
    // background: #000; 
    margin: 0 auto;
}

// ============= Buttons =====================
.btn{
    &,
    &:link,
    &:visited{
        display: inline-block;
        background:$color-primary;
        color:#fff;
        padding: .8rem;
        width: 15rem;
        transition:all .3s;
        text-transform: capitalize;
        border:2px solid $color-primary;
        text-align: center;
        cursor: pointer;
        &:hover{
            background:none;
        }
    }
    &__outlined{
        &,
        &:link,
        &:visited{
            background:none;

            &:hover{
                background:$color-primary;
            }
        }
    }

    
}

// =======================================
// ==== popup box
// =======================================
section.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: all .8s;
    opacity: 0;
    visibility: hidden;
    height: 0;
    // transform: scale(0);

    .popup__box{
        width: 80%;
        transform: scale(0);
        transition: 1s;
        transition-delay: .8s;
        backface-visibility: hidden;
        @media only screen and (max-width:$px1024){
            width: 95%;
        }
        
        & > *{
            width: 100%;
            height: 70vh;
            @media only screen and (max-width:$px768){
                height: 50vh;
            }
        }
    }

    .popup__close{
        color:#fff;
        font-size: 6rem;
        font-weight: 300;
        position: absolute;
        top: 4rem;
        right: 4rem;
        z-index: 100;
        cursor: pointer;
    }
}

section.popup.active{
    opacity: 1;
    visibility: visible;
    height: 100vh;
    // transform: scale(1);

    .popup__box{
        transform:scale(1)
    }
}
// ==============================================
// scroll top
// ==============================================
.scroll__top{
     &:link,
     &:visited{
    width: 4rem;
    height: 4rem;
    background:$color-primary;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    box-shadow: 0 0 1rem #ffffff99;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    transform:translateX(5rem);
    transition:all .5s;
    color:#fff;
    i{
        margin-top: .7rem;
    }


    &.active{
        opacity:1;
        transform:translateX(0);
    }
}
}







// ================================================
// Utility classes
// ================================================

.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}
.mb-6{margin-bottom: 6rem;}
.mb-7{margin-bottom: 7rem;}
.mb-8{margin-bottom: 8rem;}
.mb-9{margin-bottom: 9rem;}
.mb-10{margin-bottom: 10rem;}


.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.mt-6{margin-top: 6rem;}
.mt-7{margin-top: 7rem;}
.mt-8{margin-top: 8rem;}
.mt-9{margin-top: 9rem;}
.mt-10{margin-top: 10rem;}

.tac{
    text-align: center;
}

.dib{display: inline-block;}
.db{display: block;}






















