.service{
    margin-bottom: 8rem;

    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        grid-gap: 2rem;
        transform:translateY(-20%);
        z-index: 2;
        @media only screen and (max-width:$px768){
            transform: translateY(0);
            margin-top: 8rem;
            margin-bottom: 8rem;
        }
    } 
    
    &__box{
        padding: 5rem 4rem;  
        background:$color-bg-dark;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.384);
        transition:all .3s;
        overflow: hidden;
        &:hover .service__img-box{
             box-shadow: 0 0 0 50rem $color-primary;
             background: $color-primary;
        }
    }

    &__img-box{
        width: 5rem;
        border-radius: 50%;
        transition: all 1s;

        img{
            width: 100%;
        }
    }

    &__boxes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 7rem;
        align-items: center;
        

        .service__box{
            background:none;
            box-shadow:none;
            padding: 0;
            img{
                width: 4rem;
            }
        }
    }









}